html,
body
  overflow: hidden

.history
  background: #263238
  position: fixed
  top: 0
  right: 0
  bottom: 84px
  left: 0

  &-scroller
    max-height: 100%
    overflow-y: scroll

  &-body
    padding: 12px

.q-message-text--sent
  background: #0288d1

.q-message-text--received
  background: #455a64

.q-message-text-content--sent,
.q-message-text-content--received
  color: #eceff1

.q-message-text--sent:last-child:before
  color: #0288d1

.q-message-text--received:last-child:before
  color: #455a64

.input-panel
  position: fixed
  right: 0
  bottom: 0
  left: 0

.nicknames-panel
  background: #546e7a
  height: 40px
  overflow: hidden
  padding: 8px 0

.nicknames-scroller
  height: 200%
  overflow-x: scroll

.nicknames-list
  padding: 0 8px

.nicknames-item
  background: #455a64
  border: 1px solid #37474f
  border-radius: 3px
  color: #90a4ae
  cursor: pointer
  margin-right: 5px
  padding: 0 4px
  white-space: nowrap

  &:last-child
    margin-right: 0

  &.active
    background: #0288d1
    border-color: #01579b
    color: #81d4fa

.message-panel
  background: #455a64
  padding: 2px 8px
  height: 44px

.msg-input

  .q-field__native
    color: #eceff1

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::placeholder
      color: #90a4ae

  .q-field__after
    color: #90a4ae
