<template>
  <q-page>
    <chat-history />
    <input-panel />
  </q-page>
</template>

<script>
  import ChatHistory from '../components/ChatHistory'
  import InputPanel from '../components/InputPanel'

  export default {
    name: 'ChatPage',

    components: { InputPanel, ChatHistory },
  }
</script>
