<template>
  <q-layout>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
  export default {
    name: 'MainLayout',

    sockets: {
      'connected' (data) {
        console.log(data)
      },
      'user connected' (data) {
        //
      },
      'user disconnected' (data) {
        //
      },
      'new message' (data) {
        this.$store.commit('setMessage', data)
      },
    },
  }
</script>
