<template>
  <div class="input-panel">

    <q-dialog v-model="addNicknameDialog">
      <q-card style="min-width: 300px">
        <q-card-section>
          <div class="text-h6">Enter nickname:</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input
            dense
            v-model="nickname"
            autofocus
            @keyup.enter="addNickname()"
          />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn flat label="Save" @click="addNickname()" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <div class="nicknames-panel">
      <div class="nicknames-scroller">
        <div class="nicknames-list flex no-wrap">
          <div
            class="nicknames-item"
            @click="addNicknameDialog = true"
          >+ Add nickname</div>

          <div
            v-for="(item, key) in nicknames"
            :key="key"
            :class="{
              'nicknames-item': true,
              'active': activeNicknameKey === key,
            }"
            @click="setNickname(key)"
          >{{ item.name }}</div>

          <div style="width:8px">&nbsp;</div>
        </div>
      </div>
    </div>

    <div class="message-panel">
      <q-input
        class="msg-input"
        v-model="msg"
        placeholder="Message"
        autofocus
        @keyup.enter="sendMessage()"
        @input="input()"
        @focus="onFocusInput()"
        @blur="onBlurInput()"
        borderless
        dense
      >
        <template v-slot:after>
          <q-btn
            round
            dense
            flat
            icon="send"
            @click="sendMessage()"
          />
        </template>
      </q-input>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'InputPanel',

    data () {
      return {
        history: [
          { type: 'message', data: { text: 'jopka'} },
        ],
        nicknames: [],
        activeNicknameKey: 0,
        isTyping: false,
        msg: null,
        addNicknameDialog: false,
        nickname: null,
      }
    },

    methods: {
      addNickname () {
        if (this.nickname) {
          this.addNicknameDialog = false
          this.nicknames.unshift({ name: this.nickname })
          this.nickname = null
        }
        this.setNickname(0)
        this.orderNicknames()
      },
      setNickname (key) {
        this.activeNicknameKey = key
        document.querySelector('.msg-input').focus()
      },
      orderNicknames () {
        if (this.nicknames.length > 0) {
          const item = this.nicknames[this.activeNicknameKey]
          this.nicknames.splice(this.activeNicknameKey, 1)

          this.activeNicknameKey = 0
          this.nicknames.unshift(item)

          this.scrollNicknamesToStart()
        }
      },
      scrollNicknamesToStart () {
        document.querySelector('.nicknames-scroller').scrollTo(0, 0)
      },
      sendMessage () {
        if (this.msg) {

          const name = this.nicknames[this.activeNicknameKey] !== undefined
            ? this.nicknames[this.activeNicknameKey].name
            : 'Аноним'

          this.$socket.emit('new message', {
            name: name,
            text: this.msg,
            sent: false,
          })

          this.$store.commit('setMessage', {
            name: name,
            text: this.msg,
            sent: true,
          })

          this.msg = null
          this.focusInput()
          this.orderNicknames()
        }
      },
      input () {
        this.checkTyping()
      },
      focusInput () {
        document.querySelector('.msg-input').focus()
      },
      onFocusInput () {
        this.checkTyping()
      },
      onBlurInput () {
        this.stopTyping()
      },
      checkTyping () {
        if (this.msg) {
          this.startTyping()
        } else {
          this.stopTyping()
        }
      },
      startTyping () {
        if (!this.isTyping) {
          this.isTyping = true
          console.log('start typing')
        }
      },
      stopTyping () {
        if (this.isTyping) {
          this.isTyping = false
          console.log('stop typing')
        }
      },
    },
  }
</script>
